FAUCET_MNEMONIC="decorate corn happy degree artist trouble color mountain shadow hazard canal zone hunt unfold deny glove famous area arrow cup under sadness salute item"
FAUCET_ADDRESS_PREFIX = "xion"
FAUCET_MEMO = "Faucet transaction"
FAUCET_GAS_PRICE = "0.001uxion"
FAUCET_GAS_LIMIT = "100000"
FAUCET_NUM_ACCOUNTS = "20"
FAUCET_PATH_PATTERN = "m/44'/118'/0'/0/a"
FAUCET_TOKENS = "uxion"
FAUCET_COOLDOWN_TIME = "86400"
